$dark-gray: #141414
$mid-gray: #4d4d4d
$light-gray: #c1c1c1

$primary-blue: #6fbbe3
$secondary-blue: #4d92d3

$accent-purple-dark: #750af8
$accent-purple-light: #8623ff

$high: #FF0000
$medium: #FF8300
$low: #F8FF00
$completed: #05FF00
$current: #00BAFF