.task-manager
    overflow-x: auto
    flex: 1
    margin: 20px
    margin-top: 0
    &:before
        content: ''
        background: $mid-gray
        top: 0
        left: 0
        position: absolute
        height: 100%
        width: 100%
    &_container
        position: relative
        z-index: 3
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 325px), 1fr))
        gap: 35px
        row-gap: 35px