.ticket
    display: flex
    padding: 1rem 4rem
    color: white
    border-radius: 20px
    justify-content: center
    h2
        text-align: center
    p
        font-size: 1.1rem
        font-weight: 500

.high 
    background: $high

.medium
    background: $medium

.low
    background: $low

.completed
    background: $completed

.current
    background: $current