.ticket
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    gap: 30px
    padding: 1rem 
    color: white
    border-radius: 10px
    margin-bottom: 20px
    text-align: center
    position: relative
    z-index: 3
    .clientRow__client
        display: flex
        justify-content: center
        align-items: center
    &_top-copy
        h2
            margin: 0
        p
            text-align: center
            font-size: 1.1rem
            font-weight: 500


.high 
    background: radial-gradient(circle at right, $high, $dark-gray 90%)

.medium
    background: radial-gradient(circle at right, $medium -10%, $dark-gray 90%)

.low
    background: radial-gradient(circle at right, $low -15%, $dark-gray 90%)

.completed
    background: radial-gradient(circle at right, $completed -15%, $dark-gray 90%)

.current
    background: radial-gradient(circle at right, $current, $dark-gray 90%)